.title {
    font-size: 2.25rem;
    margin: 3rem auto 2.1875rem;
    text-align: left;
    display: block;
    width: max-content;
}

.codeEditor {
    margin: 0 5rem;
}

.demoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.6875rem;
}