:root {
    --font-primary-color: #002437;
    --bg-primary-color: #168BCA;
    --bg-terminal: #181818;
    --font-terminal: #FFFFFF;
    --font-terminal-secondary: rgba(255, 255, 255, 0.5);
    --editor-json-icon: #EDB52B;
    --editor-tab-hover: #2D2D2D;
    --editor-breadcrumb: #8E8E8E;
    --editor-background: #1F1F1F;
}

body, button {
    color: var(--font-primary-color);
    background-color: var(--bg-primary-color);
}

button {
    border: none;
    background-color: unset;
}